@import 'overlay_dependencies';

$mds-overlay-transition: opacity .5s ease-out !default;

@include mds-export-once('mds_overlay') {

    .mds-overlay {
        background: $mds-background-color-black;
        bottom: 0;
        left: 0;
        opacity: $mds-opacity-overlay;
        position: fixed;
        right: 0;
        top: 0;
        transition: $mds-overlay-transition;
        z-index: $mds-z-index-modal-overlay;
    }

    .mds-overlay--hidden {
        display: none;
    }

    .mds-overlay--fadeout {
        opacity: 0;
    }
}
