@import '../../constants/constants';
@import 'form_variables';

@mixin mds-form-hover-styles() {
    box-shadow: $mds-box-shadow-form-input-border-hover;
}

@mixin mds-form-error-styles() {
    animation: mds-form-error-animation $mds-animation-timing-1-x linear;
    box-shadow: $mds-box-shadow-form-input-border-error;

    &:focus {
        box-shadow: $mds-box-shadow-form-element-focus-input-border-error;
    }
}

@keyframes mds-form-error-animation {
    0% {
        box-shadow: $mds-box-shadow-form-input-border;
    }

    100% {
        box-shadow: $mds-box-shadow-form-input-border-error;
    }
}

@mixin mds-form-focus-styles() {
    box-shadow: $mds-box-shadow-form-input-border-focus, $mds-box-shadow-form-element-focus;
    outline: none;
}

// Touch Mixins

// Checkboxes
@mixin mds-form-checkbox-touch-properties() {
    .mds-form__checkbox-group-label,
    .mds-form__checkbox-text {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
    }

    .mds-form__checkbox-visible-wrap {
        padding: 12px 0; // Renders 48px tall
    }

    .mds-form__checkbox-visual {
        height: $mds-form-checkbox-large-height;
        margin-right: $mds-space-1-x;
        width: $mds-form-checkbox-large-width;
    }

    .mds-form__checkbox-checked-icon,
    .mds-form__checkbox-indeterminate-icon {
        height: $mds-form-checkbox-large-width;
        margin-left: -($mds-form-checkbox-large-width / 2);
        margin-top: -($mds-form-checkbox-large-width / 2);
        width: $mds-form-checkbox-large-width;
    }
}

// Radio Buttons
@mixin mds-form-radio-button-touch-properties() {
    .mds-form__radio-button-group-label {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
    }

    .mds-form__radio-button-visible-wrap {
        padding: 12px 0; // Renders 48px tall
    }

    .mds-form__radio-button-visual {
        height: $mds-form-radio-button-large-height;
        margin-right: $mds-space-1-x;
        top: 0;
        width: $mds-form-radio-button-large-width;

        &:before {
            margin-left: -($mds-form-radio-button-fill-large-height / 2);
            margin-top: -($mds-form-radio-button-fill-large-height / 2);
        }

        .mds-form__radio-button-input:checked + .mds-form__radio-button-visible-wrap & {
            &:before {
                height: $mds-form-radio-button-fill-large-height;
                width: $mds-form-radio-button-fill-large-width;
            }
        }
    }

    .mds-form__radio-button-text {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
    }
}

// Selects
@mixin mds-form-select-touch-properties() {
    .mds-form__select-input {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
        height: $mds-size-element-height-touch;
    }
}

// Textareas
@mixin mds-form-textarea-touch-properties() {
    .mds-form__textarea {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
    }
}

// Inputs
@mixin mds-form-input-touch-properties() {
    .mds-form__input {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
        height: $mds-size-element-height-touch;
    }
}

// Labels
@mixin mds-form-label-touch-properties() {
    .mds-form__label {
        font-size: $mds-font-size-l;
    }
}

// Microcopy
@mixin mds-form-microcopy-touch-properties() {
    .mds-form__microcopy {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
    }
}

// Field Errors
@mixin mds-form-field-error-touch-properties() {
    .mds-form__field-error {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
    }
}

// Required Fields Key
@mixin mds-form-required-fields-key-touch-properties() {
    .mds-form__required-fields-key {
        font-size: $mds-font-size-l;
        font-weight: $mds-font-weight-light;
    }
}

// All Form Touch Mixins
@mixin mds-form-all-touch-properties() {
    @include mds-form-checkbox-touch-properties();
    @include mds-form-radio-button-touch-properties();
    @include mds-form-select-touch-properties();
    @include mds-form-textarea-touch-properties();
    @include mds-form-input-touch-properties();
    @include mds-form-label-touch-properties();
    @include mds-form-microcopy-touch-properties();
    @include mds-form-field-error-touch-properties();
    @include mds-form-required-fields-key-touch-properties();
}
