{% set masthead_left %}
    {{ library.button(icon_left="menu-padless", class="mds-button--icon-only mds-masthead--hide-wide") }}
    {{ library.button(icon_left="search-padless", class="mds-button--icon-only mds-masthead--hide-wide") }}
    {{ library.search_field(class="mds-masthead--show-wide") }}
{% endset %}
{% set masthead_right %}
    {{ library.button(icon_left="question-circle-padless", class="mds-button--icon-only") }}
    {{ library.button(icon_left="person-padless", class="mds-button--icon-only mds-masthead--hide-wide") }}
    {{ library.button(icon_left="person-padless", text="Sign In", class="mds-button--flat mds-masthead--show-wide mds-button--flat-icon-m") }}
{% endset %}
{{ library.masthead(logo="/images/mastheads/logos/api-center-lockup.png", masthead_left=masthead_left, masthead_right=masthead_right) }}
