{% set masthead_left %}
    {{ library.button(icon_left="menu-padless", class="mds-button--icon-only mds-masthead--hide-wide mds-page-shell--show-off-canvas-navigation") }}
    {{ library.button(icon_left="menu-padless", text="Menu", class="mds-button--flat mds-button--flat-icon-m mds-masthead--show-wide mds-page-shell--show-off-canvas-navigation") }}
    {{ library.button(icon_left="search-padless", class="mds-button--icon-only mds-masthead--hide-wide") }}
    {{ library.search_field(class="mds-masthead--show-wide") }}
{% endset %}
{% set masthead_right %}
    {{ library.button(icon_left="person-padless", class="mds-button--icon-only mds-masthead--hide-wide") }}
    {{ library.button(class="mds-button--flat mds-button--flat-icon-m mds-masthead--show-wide", icon_left="person-padless", text="Sign In") }}
{% endset %}
{{ library.masthead(logo="/images/mastheads/logos/credit-ratings-logo-lockup-50px.svg", masthead_left=masthead_left, masthead_right=masthead_right) }}
