{% set masthead_right %}
    {{ library.button(icon_left="bell-padless", class="mds-button--icon-only") }}
{% endset %}
{{ library.masthead(logo="/images/mastheads/logos/non-standard-logo.png", small_logo="/images/mastheads/logos/non-standard-logo.png", masthead_left=false, masthead_right=masthead_right) }}
