$mds-search-field-input-inset-horizontal: 35px !default;
$mds-search-field-input-large-icon-padding: 43px !default;
$mds-search-field-input-touch-icon-padding: 48px !default;
$mds-search-field-icon-margin: 12px !default;
$mds-search-field-icon-touch-margin: 16px !default;
